{% if layout.common-ext-js %}
  {% for js in layout.common-ext-js %}
    {% include ext-js.html js=js %}
  {% endfor %}
{% endif %}

{% if layout.common-js %}
  {% for js in layout.common-js %}
    <!-- doing something a bit funky here because I want to be careful not to include JQuery twice! -->
    {% if js contains 'jquery' %}
      <script>
        if (typeof jQuery == 'undefined') {
          document.write('<script src="{{ js | relative_url }}"></scr' + 'ipt>');
        }
      </script>
    {% else %}
      <script src="{{ js | relative_url }}"></script>
    {% endif %}
  {% endfor %}
{% endif %}

{% if site.site-js %}
  {% for js in site.site-js %}
    <script src="{{ js | relative_url }}"></script>
  {% endfor %}
{% endif %}

{% if page.ext-js %}
  {% for js in page.ext-js %}
    {% include ext-js.html js=js %}
  {% endfor %}
{% endif %}

{% if page.js %}
  {% for js in page.js %}
    <script src="{{ js | relative_url }}"></script>
  {% endfor %}
{% endif %}

<!-- Uso mermaid para los gráficos: https://mermaid.js.org/ -->
<script src="https://unpkg.com/mermaid@11.12.2/dist/mermaid.min.js"></script>
<script>
  {% if page.use-tailwind or layout.use-tailwind %}
  document.addEventListener('DOMContentLoaded', function() {
    mermaid.initialize({
      startOnLoad:true,
      theme: "dark",
    });
    mermaid.run({
      querySelector: '.language-mermaid'
    });
  });
  {% else %}
  $(document).ready(function () {
    mermaid.initialize({
      startOnLoad:true,
      theme: "forest",
    });
    window.mermaid.init(undefined, document.querySelectorAll('.language-mermaid'));
  });
  {% endif %}
</script>

<script src="/assets/js/particles.min.js"></script>

{% if page.use-tailwind or layout.use-tailwind %}
<script src="{{ '/assets/js/tailwind-site.js' | relative_url }}"></script>
{% endif %}