.libutton {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 7px 12px;
  outline: none;
  text-decoration: none !important;
  color: #ffffff !important;
  width: 200px;
  height: 32px;
  border-radius: 16px;
  background-color: #0A66C2;
  font-family: "SF Pro Text", Helvetica, sans-serif;
}

.libutton i {
  font-size: 14px;
}

.libutton span {
  line-height: 1;
}

.footer-flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
