---
layout: page
footer-extra: cafecito.html
---

<div class="hero">
  <h1 class="hero-title">{{ site.title }}</h1>
  <p class="hero-subtitle">{{ site.description }}</p>
</div>

{{ content }}

<h2 class="posts-section-title">Mis publicaciones</h2>


{% assign posts = paginator.posts | default: site.posts %}

<div class="posts-grid">
  {% for post in posts %}
    <div class="post-card">
      {%- capture thumbnail -%}
        {% if post.thumbnail-img %}
          {{ post.thumbnail-img }}
        {% elsif post.cover-img %}
          {% if post.cover-img.first %}
            {{ post.cover-img[0].first.first }}
          {% else %}
            {{ post.cover-img }}
          {% endif %}
        {% else %}
        {% endif %}
      {% endcapture %}
      {% assign thumbnail=thumbnail | strip %}

      {% if thumbnail != "" %}
        <a href="{{ post.url | absolute_url }}">
          <img src="{{ thumbnail | absolute_url }}" alt="Post thumbnail" class="post-card-img-top">
        </a>
      {% endif %}

      <div class="post-card-body">
        <h5 class="post-card-title">
          <a href="{{ post.url | absolute_url }}">{{ post.title | strip_html }}</a>
        </h5>
        <p class="post-meta">
          {% assign date_format = site.date_format | default: "%B %-d, %Y" %}
          {{ post.date | date: date_format }}
        </p>
        <div class="post-card-text">
          {% assign excerpt_length = site.excerpt_length | default: 25 %}
          {{ post.excerpt | strip_html | truncatewords: excerpt_length }}
        </div>
        <a href="{{ post.url | absolute_url }}" class="btn btn-primary">Leer más</a>
      </div>
    </div>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pagination main-pager">
  {% if paginator.previous_page %}
  <li class="page-item previous">
    <a class="page-link" href="{{ paginator.previous_page_path | absolute_url }}">
      <i class="fas fa-arrow-left" alt="Publicaciones nuevas"></i>
      <span class="d-none d-sm-inline-block">Publicaciones nuevas</span>
    </a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="page-item next">
    <a class="page-link" href="{{ paginator.next_page_path | absolute_url }}">
      <span class="d-none d-sm-inline-block">Publicaciones anteriores</span>
      <i class="fas fa-arrow-right" alt="Publicaciones anteriores"></i>
    </a>
  </li>
  {% endif %}
</ul>
{% endif %}
